{
	"name" : "Example Configuration",
	"apiCommunication" : {
		"api" : "https://engmon.cms.waikato.ac.nz/api",
		"bridgeId" : "12345"
	},
	"sensors" : [
		{
			"id" : "12345",
			"name" : "DC monitor",
			"type" : "pentametric",
			"pollFrequency" : 10,
			"device" : "/dev/serial/by-path/pci-0000:00:1d.0-usb-0:1.3:1.0-port0"
		},
		{
			"id" : "12345",
			"name" : "AC monitor",
			"type" : "smartcircuit",
			"pollFrequency" : 10,
			"device" : "/dev/serial/by-path/pci-0000:05:00.0-usb-0:2:1.0-port0"
		}
	]
}